{% extends "index.html" %} {% block content %}
<div class="col-md-4"></div>
<div class="col-md-4">
    <form method="POST">
        <input type="hidden" name="com_id" value={{comment.key().id_or_name()}}>
        <div class="form-group">
            <label for="post">Comment</label>
            <textarea class="form-control" rows="5" id="com" name="com">{{comment.comment}}</textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-default" class="form-control">Submit</button>
        </div>
</div>
<div class="col-md-4"></div>
{% endblock %}