<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Home</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if logout %}
                            <li><a href="/welcome">My Post</a></li>
                            <li><a href="/new">New Post</a></li>
                            <li><a href="/logout">{{logout}}</a></li>
                        {% else %}
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Signup</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        {% block content%}
        <div class="jumbotron">
            <h1>Welcome {{username}}</h1>
        </div>
        {% for bpost in blogs %}
            <li class="list-group-item">
                <h4><span class="label label-primary"> Title: {{ bpost.subject }}</span></h4>
                <div class="well well-lg">
                    <div class="panel panel-default">
                        <div class="panel-heading">Post Likes {{ like_count[ bpost.key().id_or_name()] }} / Posted By {{bpost.username}}</div>
                        <div class="panel-body">
                            {{ bpost.content }}
                        </div>
                    </div>
                </div>
                <a class="btn btn-default-sm" href="/like?post_id={{bpost.key().id_or_name()}}" role="button">Like</a>
                <a class="btn btn-default-sm" href="/like?post_id={{bpost.key().id_or_name()}}&type=unlike" role="button">Unlike</a>
                <a class="btn btn-default-sm" href="/comment?post_id={{bpost.key().id_or_name()}}" role="button">Comment</a>
                <a class="btn btn-sm" href="/edit?post_id={{bpost.key().id_or_name()}}" role="button">Edit</a>
                <a class="btn btn-sm" href="/single?post_id={{bpost.key().id_or_name()}}" role="button">Read More</a>
            </li>
        {% endfor %} {% endblock %}
    </div>
</body>

</html>